

@media print {
 
	#content {
	width: 100%; 
	margin: 0; 
	float: none; 
	}

 	@page {
<<<<<<< Updated upstream
	 margin-top: -1cm;
	 margin-bottom: 0cm;
	 margin-left: 0cm;
	 margin-right: 0cm;
	}

	.chapter {
     page-break-before: always; // AVANT L’ÉLÉMENT
  }
=======
	 margin-top: 1cm;
	 margin-bottom: 1cm;
	 margin-left: 3cm;
	 margin-right: 3cm;
	}


	.chapter {
     page-break-before: always; // AVANT L’ÉLÉMENT
  }

>>>>>>> Stashed changes
  img {
     page-break-inside: avoid; // JAMAIS DANS L’ÉLÉMENT
  }

	body {
		overflow-wrap: break-word;
<<<<<<< Updated upstream
=======
		text-align: center;
>>>>>>> Stashed changes
	}

	h1, .arrows {
		display: none;
	}


	h2 {
		font-family: 'petit_formal_scriptregular';
		font-size: 15px;
<<<<<<< Updated upstream
		margin-bottom: -2.5cm;
=======
		margin-bottom: -1.5cm;
		page-break-before: always;
>>>>>>> Stashed changes
	}

	img {
		max-width: 200px;
	}



<<<<<<< Updated upstream
	.mono {
		font-family: 'solide_miragemono';
		font-size: 100px;
		line-height: 95px;
		page-break-after: always;
	}

	.monoplus {
		font-family: 'solide_miragemono';
		font-size: 50px;
		page-break-after: always;
	}

	.monoplusplus {
		font-family: 'solide_miragemono';
		font-size: 25px;
		page-break-after: always;
	}

	.monoplusplusplus{
		font-family: 'solide_miragemono';
		font-size: 12.5px;
		page-break-after: always;

	}

=======
	.lilgroteskregular {
		font-family: 'lilgroteskregular';
		font-size: 90px;
		line-height: 95px;
		page-break-before: avoid;
		padding-bottom: 30px;
		position: relative;
	}

	.lilgroteskregularplus {
		font-family: 'lilgroteskregular';
		font-size: 65px;
		line-height: 50px;
		page-break-after: avoid;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
	}

	.lilgroteskregularplusplus {
		font-family: 'lilgroteskregular';
		font-size: 40px;
		page-break-after: avoid;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
	}

	.lilgroteskregularplusplusplus{
		font-family: 'lilgroteskregular';
		font-size: 22px;
		page-break-after: avoid;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;

	}

	.lilgroteskregularplusplusplusplus
		{
		font-family: 'lilgroteskregular';
		font-size: 10px;
		page-break-after: avoid;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
		}




	.lilgroteskbold {
		font-family: 'lilgroteskbold';
		font-size: 90px;
		line-height: 95px;
		page-break-before: avoid;
		padding-bottom: 30px;
		position: relative;
	}

	.lilgroteskboldplus {
		font-family: 'lilgroteskbold';
		font-size: 65px;
		line-height: 50px;
		page-break-after: avoid;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
	}

	.lilgroteskboldplusplus {
		font-family: 'lilgroteskbold';
		font-size: 40px;
		page-break-after: avoid;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
	}

	.lilgroteskboldplusplusplus{
		font-family: 'lilgroteskbold';
		font-size: 22px;
		page-break-after: avoid;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;

	}

	.lilgroteskboldplusplusplusplus
		{
		font-family: 'lilgroteskbold';
		font-size: 10px;
		page-break-after: avoid;
		padding-top: 8px;
		padding-bottom: 10px;
		position: relative;
		}



>>>>>>> Stashed changes

	  img {
	     page-break-inside: avoid; // JAMAIS DANS L’ÉLÉMENT
	  }



}

