html,
body {
    height: 100vh;
    margin: 0;
}
body {
    vertical-align: top;
    height: 100%;
    overflow: hidden;
}
th {;
    padding: 0;
}
.column {
    height: 100vh;
    overflow: scroll;
}

.navigation {
    text-align: center;
    padding: 15px;
}
h1 {
    font-size: 40px;
font-weight: normal;
vertical-align: center;
text-align: center;
line-height: 20px;
width: 100%;
position: fixed;
top: 7px;
left: 0;
padding-top: 15px;
margin: 0;
}
h2 {
    font-size: 20px;
    text-align: center;
    color: pink;
    margin-left: 20px;
    overflow: hidden;
    position: fixed;
    width: 100px;
    border: 1px solid #000;
    background-color: #fff;
}

.slider {
    margin-right: 20px;
    overflow: hidden;
    width: 100px;
    border: 1px solid #000;
    width: 100px;
    height: 5%;
    border-radius: 2px;
    }

.mySlider {
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
    float: right;
}
.container {
    margin-top: 50px;
}

.nav-left {
    float: left;
    display: block;
    line-height: normal;
}
.nav-right {
    float: right;
    display: block;
    line-height: normal;
    padding-right: 10px;
}
.headbar {
    height: 80px;
width: 100%;
line-height: 0;
position: relative;
    border-bottom: 1px solid #000;

}

.next_nav {
    float: right;
}
/* NAV-COLUMNS */
.slide {
  width: 345px;
  height: 120px;
  margin-top: 50px;
}

.prev_nav {
  position: absolute;
  left: 5px;
  height: 120px;
  cursor: pointer;
  z-index: 1000;
  display: table;
}

.prev_nav p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.next_nav {
  position: absolute;
  right: 5px;
  height: 120px;
  cursor: pointer;
  z-index: 1000;
  display: table;
}

.next_nav p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nav {
  position: absolute;
  overflow: hidden;
}

.nav>.column {
  width: 140px;
  height: 120px;
  display: inline-block;
  list-style: none;
}


@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


p:focus {
  outline: none;
}

